{
  "extends": [
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "prettier",
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "prettier",
    "jest"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
  }
}